*.env
dist/
node_modules/
logs/
*.log
.env.local
.env.dev
.env.prod
.DS_Store
.vscode/
.idea/
*.iml
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.sass-cache/
.cache/
.next/          